
html {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    background-image: url("../imgs/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.Main {
    width: 90%;
    padding: 50px;
    height: 100%;
    min-height: 100vh;
    position: relative;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow:auto;
}

.btn-outline-secondary {
    width: 20px !important;
    height: 20px !important;
    padding: 3px 0px !important;
    border-radius: 15px !important;
    text-align: center !important;
    font-size: 12px !important;
    line-height: 1.12857 !important;
    margin-left: 10px !important;
    margin-bottom: 3.5px !important;
}

.App-theme {
    background-color: darkslateblue;
}

.Frequency-chart {
    text-align: center;
    float: left;
    width: 100%;
    height: 700px;
}

.Date-frequency {
    float: left;
    margin-right: 10px;
}

.Section-title {
    text-align: center;
    width: 100%;
}

.Report-menu {
    float: left;
    min-width: 300px;
    max-width: 300px;
    margin-right: 10px;
}

.loading {
    height: 350px;
    width: 350px;
    pointer-events: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.Date-picker {
    float: left;
    margin-right: 10px;
    border: 1px solid lightgrey;
    height: 38px;
    border-radius: 3px;
}

.Report-title {
    cursor: default !important;
    border-bottom-color: white !important;
    border-bottom-width: 1px !important;
    margin-bottom: 2px !important;
}

.Report-display {
    float: left;
    width: calc(100% - 310px);
}

.Search-element {
    float: left;
    min-width: 220px;
    width: 250px;
    max-height: 38px;
}

.Filter-panel {
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.Filter-panel > div {
    margin: 8px;
}
.Card-hover {
    background-color: white;
}
  
.Card-hover:hover {
    background-color: lightgrey;
}

.Page-menu {
    margin-left: auto;
    margin-right: auto;
    width: 930px;
}

.link {
    color: inherit;
    text-decoration: inherit;
}
  
.link:hover {
    color: inherit;
    text-decoration: inherit;
}

li.page-item active {
    background-color: darkslateblue !important;
}

.react-datepicker__day--selected {
    background-color: darkslateblue !important;
}

.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__day--keyboard-selected {
    background-color: darkslateblue !important;
}

input[type=text] {
    padding: 5px 12px;
    border-top: 3px;
    border-bottom: -3px;
    border-left: 3px;
    border-color: white;
    box-sizing: border-box;
    border-radius: 3px;
  }

a.page-link,
a.page-link:hover {
    color: darkslateblue;
}

li.page-item.active span.page-link {
    background-color: darkslateblue;
    border-color: darkslateblue;
}

input:focus,
select:focus,
textarea:focus {
    outline-color: darkslateblue;
    border-radius: 3px;
}

.btn-secondary {
    border: 1px solid darkslateblue !important;
    color: darkslateblue !important;
    background-color: white !important;
}

.btn-secondary:hover {
    background-color: darkslateblue !important;
    border: 1px solid darkslateblue !important;
    color: white !important;
}

.btn-primary {
    background-color: #483D8B !important;
    border: 1px solid #483D8B !important;
    width: 147px;
}

