.Google-card {
    height: 200px;
    display: flex;
    border-color: darkGray;
    border: 1px;
}

.Google-card-image {
    float: left;
    object-fit: cover;
    height: 200px;
    width: 200px;
}

.Google-card-text {
    float: left;
    width: 100%;
    padding: 10px;
}

.Media-list {
    float: left;
    height: 700px;
    width: 50%;
}

.Marker {
    border-color: darkslateblue;
    border-style: solid;
    border-width: 1px;
    width: 200px;
    padding: 3px;
    background-color: white;
    font-size: small;
}

.GTrends {
    float: left;
    width: 50%;
}